// Quasar SASS/SCSS Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the SASS/SCSS variables found in Quasar's source SASS/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared above the Quasar variables import)
// should be used when customizing Quasar variables

$primary   : #FF6B35
$secondary : #FF8566
$accent    : #FFE5E5

$dark      : #1D1D1D
$dark-page : #121212

$positive  : #4CAF50
$negative  : #F44336
$info      : #2196F3
$warning   : #FFC107
